
.header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.heading {
  // TODO
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.carditem{
  width: 220px;
}